rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Les produits sont lisibles par tous, mais modifiables uniquement par un admin
    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Les commandes ne sont accessibles qu'aux administrateurs connectés
    match /orders/{orderId} {
      allow read, write, create, update, delete: if request.auth != null;
    }

    // Les commentaires sont lisibles par tous, mais modifiables uniquement par un utilisateur connecté
    match /comments/{commentId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}